venv
.idea
semantic_graph
format_examples
common_concepts.csv
logs
__pycache__
corenlp_server*
.vscode
*.dot
exp_res
scripts/*.o*
dev_out
output
concept_detection/data
data/
scripts/**/*.o*
checkpoint-*
evaluation/*.o*
evaluation/*
evaluation/*/*
!evaluation/*.py
!*.py
figures
sentence_clasifier
scripts/case_study